<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Chowtime! Lite</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->

        <h1>Chowtime! Lite</h1>
    </head>
    <body>
        <div>
            <button style="background-color: darkgrey;" type="button"><a href="{% url 'inventorylist' %}">Inventory</a></button>
            <br><br>
            <button style="background-color: darkgrey;" type="button"><a href="{% url 'menulist' %}">Menus</a></button>
            <br><br>
            <button style="background-color: darkgrey;" type="button"><a href="{% url 'orderlist' %}">Orders</a></button>
        </div>
    </body>