<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Chowtime! Lite</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->

    </head>
    
    <style>
        h1 {
            font-family: Montserrat;
        }
        
        .nav button {
            font-weight: bold;
            font-family: Montserrat;
            color: white;
            background-color: #84CC16;
            border-color: none;
            outline: none;
            border-radius: 8px;
            width: 400px;
            padding: 20px 50px 20px;
        }

    </style>

    <h1>Chowtime! Lite</h1>
    
    <div>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    </div>
    <br>

    <body>
        <div class="nav">
            <button type="button"><a href="{% url 'inventorylist' %}">Inventory</a></button>
            <br><br>
            <button type="button"><a href="{% url 'menulist' %}">Menus</a></button>
            <br><br>
            <button type="button"><a href="{% url 'orderlist' %}">Orders</a></button>
        </div>
    </body>