{% extends 'inventory/header.html' %}

{% block content %}

<div class="main-container">
    <div class="left-side">
        <div class="main-title">Add an item</div>
        <div class="main-title-subtext">
            <p>Add <em>new</em> inventory items here.</p>
            <p>To edit an existing item, select the pencil icon at the end of each line item on the inventory home page.</p>
        </div>
    </div>

    <div class="right-side">
        <form class="add-edit-form" id="test-name" method="POST" action="">
            {% csrf_token %}
            <div class="add-edit-form-fields">
                <div class="add-edit-form-label">Name</div>
                {{form.name}}
                <div class="add-edit-form-label">Unit</div>
                {{form.unitType}}
                <div class="add-edit-form-label">Unit Cost</div>
                {{form.unitCost}}
                <div class="add-edit-form-label">Quantity</div>
                {{form.inventoryQuantity}}
            </div>
            <div class="add-edit-form-btns">
                <button class="add-edit-go-back-btn" name="go-back" value="1" onclick="location.href='{{request.META.HTTP_REFERER}}'">Go Back</button>
                <button class="add-edit-submit-btn" name="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}