{% extends 'inventory/header.html' %}

{% block content %}

<h2>Inventory</h2>

<div>
    
    {% if inventory != '' %}
        <table>
            <thead>
                <th style="text-align: left">Name</th>
                <th style="text-align: right">Stock</th>
                <th style="text-align: right">Units</th>
                <th style="text-align: right">Unit Cost</th>
                <th style="text-align: right">Total Cost</th>
            </thead>
            <tbody>
            {% for item in inventory %}
                <tr>
                    <td style="text-align: left">{{ item.name }}</td>
                    <td style="text-align: right">{{ item.inventoryQuantity }}</td>
                    <td style="text-align: right">{{ item.unitType }}</td>
                    <td style="text-align: right">{{ item.unitCost }}</td>
                    <td style="text-align: right">{{ item.totalCost }}</td>
                    <td style="text-align: right"><a href="{% url 'inventoryupdate' item.id %}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    
    <button style="background-color: darkgrey;" type="button"><a href="{% url 'inventorycreate' %}">Add an item</a></button>

</div>


{% endblock %}