{% extends 'inventory/header.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="main-container">
    <div class="left-side">
        <div class="main-title">Inventory</div>
        <div class="main-title-subtext">
            <p>Create and track your inventory. Add or change item stock and per unit cost.</p>
            <p>Dishes on your menus will only be available if you have enough required inventory.</p>
        </div>
    </div>
    <div class="right-side">
        <div class="inventory-table-grid">
            <div class="inventory-table-header-cell col-1 first-col">Name</div>
            <div class="inventory-table-header-cell col-2">Stock</div>
            <div class="inventory-table-header-cell col-3">Units</div>
            <div class="inventory-table-header-cell col-4">Unit Cost</div>
            <div class="inventory-table-header-cell col-5">Total Cost</div>
            <div class="inventory-table-header-cell col-6 last-col">Edit</div>
            {% if count == 0 %}
                <div class="inventory-placeholder-text">You don't have any inventory yet! Add your first item below.</div>
            {% else %}
                {% for item in inventory %}
                    <div class="inventory-table-row-cell col-1 first-col">{{item.name}}</div>
                    <div class="inventory-table-row-cell col-2">{{item.inventoryQuantity|intcomma}}</div>
                    <div class="inventory-table-row-cell col-3">{{item.unitType}}</div>
                    <div class="inventory-table-row-cell col-4">${{item.unitCost|intcomma}}</div>
                    <div class="inventory-table-row-cell col-5">{{item.totalCost}}</div>
                    <div class="inventory-table-row-cell col-6 last-col"><a href="{% url 'inventoryupdate' item.id %}"><img class="edit-icon" src="{% static 'inventory/edit-icon.png' %}"></a></div>
                    <div class="row-border"></div>
                {% endfor %}
            {% endif %}
            <button class="btn-add-inventory" onclick="location.href='{% url 'inventorycreate' %}'">Add an item</button>
        </div>
    </div>
</div>

{% endblock %}