{% extends 'inventory/header.html' %}
{% load static %}
{% block content %}

<div class="main-container">
    <div class="left-side">
        <div class="main-title">{{item.name}}</div>
        <div class="main-title-subtext">
            <p>Set your item's price and define its ingredient requirements.</p>
        </div>
        <div class="menu-view-btns">
            <button class="delete-btn" type="button" onclick="location.href='{% url 'itemdelete' item.id %}'">Delete Item</button>
        </div>
    </div>
    <div class="right-side">
        <form class="item-edit-form" method="POST" action="">
            {% csrf_token %}
            {{formset.management_form}}
            <div class="item-edit-form-fields">
                <div class="add-edit-form-label">Name</div>
                {{form.name}}
                <div class="add-edit-form-label">Price</div>
                {{form.price}}
            </div>
            
            <div class="recipe-list">
                <div id="ingredient-form-list">          
                    {% for ingredientForm in formset %}
                        <div id="ingredient-form" class="ingredient-form">
                            {% for hidden in ingredientForm.hidden_fields %}
                                {{hidden}}
                            {% endfor %}
                            {{ingredientForm.ingredient}}
                            {{ingredientForm.ingredientQuantity}}
                            <div class="hidden">{{ingredientForm.DELETE}}</div>
                            <!-- <button class="remove-button"><img class="remove-img" src="{% static 'inventory/trash-icon.png' %}"></button> -->
                            <div class="remove-button">❌</div>
                            <!-- <input class="remove-button" id="remove-ingredient" type="submit" value="" style="background: url('{% static 'inventory/trash-icon.png' %}')"> -->
                        </div>
                    {% endfor %}
                </div>
                <button id="add-more" type="button">Add an ingredient</button>
            </div>
            
            <div id="empty-form" class="hidden">
                {{formset.empty_form.ingredient}}
                {{formset.empty_form.ingredientQuantity}}
                <div class="hidden">{{formset.empty_form.DELETE}}</div>
                <!-- <button class="remove-button"><img class="remove-img" src="{% static 'inventory/trash-icon.png' %}"></button> -->
                <div class="remove-button">❌</div>
                <!-- <input class="remove-button" id="remove-ingredient" type="submit" value="" style="background: url('{% static 'inventory/trash-icon.png' %}')"> -->
            </div>
            
            <div id="error-message-div" style="display: none">
                <p>You may not create a dish with two instances of the same ingredient.</p>
                <p>Please adjust your ingredients such that this dish contains only one of each of the following:</p>
                <ul id="error-message-list"></ul>
            </div>

            <div class="add-edit-form-btns">
                <button class="add-edit-go-back-btn" name="go-back" value="1" onclick="location.href='{{request.META.HTTP_REFERER}}'">Go Back</button>
                <button class="add-edit-submit-btn" name="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    // get the button in question that we want to listen for - reference it by the button tag's 'id'
    
    const addMoreBtn = document.getElementById('add-more') // "document" refers to entire rendered HTML page
    addMoreBtn.addEventListener('click', addNewForm)
    const totalNewForms = document.getElementById('id_ingredientquantity_set-TOTAL_FORMS')

    itemizeIngredientForms()
    removeBtnListener()
    hideDeletedFormsOnRender()
    displayErrorMessage()

    function hideDeletedFormsOnRender () {
        let ingredientforms = document.getElementsByClassName('ingredient-form')

        for (i = 0; i < ingredientforms.length; i++) {
            deleteCheckbox = document.getElementById(`id_ingredientquantity_set-${i}-DELETE`)
            if (deleteCheckbox.checked == true) {
                let ingredientFormToHide = document.getElementById(`ingredient-form-${i}`)
                ingredientFormToHide.style.display = 'none'
            }
        }
    }

    function displayErrorMessage() {       
        let error = "{{ error }}"
        let errorLIST = JSON.parse("{{ errorLIST|escapejs }}")
        let errorMessageDiv = document.getElementById('error-message-div')
        let errorMessageUL = document.getElementById('error-message-list')
        
        if (error == 'True') {
            for (i = 0; i < errorLIST.length; i++) {
                errorMessageUL.innerHTML = errorMessageUL.innerHTML + `<li>${errorLIST[i]}</li>`
            } 
            
            errorMessageDiv.style.display = 'flex'
            errorMessageDiv.style.flexDirection = 'column'
            errorMessageDiv.style.gap = '8px'
            errorMessageDiv.style.fontSize = '.75rem'
            errorMessageDiv.style.color = 'red'
            errorMessageDiv.style.maxWidth = '264px'
            errorMessageUL.style.margin = '0'
        }
    }

    function itemizeIngredientForms () {
        let ingredientForms = document.getElementsByClassName('ingredient-form')

        for (let i = 0; i < ingredientForms.length; i++) {
            ingredientForms[i].setAttribute('id', `ingredient-form-${i}`)
            console.log(ingredientForms[i])
        }
    }

    function removeBtnListener () {
        const removeIngredientBtns = document.getElementsByClassName('remove-button')
        
        for (let i = 0; i < removeIngredientBtns.length; i++) {
            removeIngredientBtns[i].addEventListener('click', removeIngredient)
        }
    }
    
    function removeIngredient (event) {
        if (event) {
            event.preventDefault()
        }
        
        let ingredientFormToBeRemoved = event.path[1]
        let indexString = ingredientFormToBeRemoved.id
        let array = indexString.split('-')
        let indexNum = array[2]
        let deleteCheckbox = document.getElementById(`id_ingredientquantity_set-${indexNum}-DELETE`)
        deleteCheckbox.checked = true
        ingredientFormToBeRemoved.setAttribute('class', 'hidden')
        
        console.log(event)
        console.log(event.path[1])
        console.log(`indexString: ${indexString}`)
        console.log(`array: ${array}`)
        console.log(`indexNum: ${indexNum}`)
        console.log(`deletedCheckbox: ${deleteCheckbox}`)
    }
    
    function addNewForm (event) {
        if (event) {
            event.preventDefault() // if you accidentatily called the 'add-more' button type=submit, it would prevent it from submitting
        }
        const currentIngredientForms = document.getElementsByClassName('ingredient-form')
        let currentFormCount = currentIngredientForms.length // + 1
        const formCopyTarget = document.getElementById('ingredient-form-list')
        const copyEmptyFormElement = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormElement.setAttribute('class', 'ingredient-form')
        copyEmptyFormElement.setAttribute('id',`ingredient-form-${currentFormCount}`)
        
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormElement.innerHTML = copyEmptyFormElement.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)

        // now add a new empty form element to our html form
        formCopyTarget.append(copyEmptyFormElement)
        
        // remap remove button listeners to the new list of forms
        removeBtnListener()
        console.log(event)
    }
    
</script>

{% endblock %}