{% extends 'inventory/header.html' %}
{% block content %}

<style>
    .hidden {
        display: none
    }

    th {
        text-align: left
    }
</style>

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        
        {{ formset.management_form }}
        <div id="ingredient-form-list">
            {% for ingredientForm in formset %}
                <div class="ingredient-form">
                    {{ ingredientForm }}
                    <button class="remove-button" id="remove-0-ingredient" type="button">Remove</button>
                    <hr>
                </div>
            {% endfor %}
        </div>
        
        <div id="empty-form" class="hidden">
            {{ formset.empty_form }}
            <button class="remove-button" id="remove-__prefix__-ingredient" type="button">Remove</button>
            <hr>
        </div>
        <br>
        
        <button id="add-more" type="button">Add an ingredient</button>
        <br>
        
        <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
        <input type="submit" id="submit" value="Submit"/>
        <button style="background-color: darkred; color: white" type="button"><a href="{% url 'itemdelete' item.id %}">Delete</a></button>
    </form>
</div>

<script>
    // get the button in question that we want to listen for - reference it by the button tag's 'id'
    
    const addMoreBtn = document.getElementById('add-more') // "document" refers to entire rendered HTML page
    addMoreBtn.addEventListener('click', addNewForm)
    const totalNewForms = document.getElementById('id_ingredientquantity_set-TOTAL_FORMS')

    removeBtnListener()

    function removeBtnListener () {
        const removeIngredientBtns = document.getElementsByClassName('remove-button')
        
        for (let i = 0; i < removeIngredientBtns.length; i++) {
            removeIngredientBtns[i].addEventListener('click', removeIngredient)
        }
    }
    
    function removeIngredient (event) {
        if (event) {
            event.preventDefault()
        }
        console.log(event)
    }
    
    function addNewForm (event) {
        if (event) {
            event.preventDefault() // if you accidentatily called the 'add-more' button type=submit, it would prevent it from submitting
        }
        const currentIngredientForms = document.getElementsByClassName('ingredient-form')
        let currentFormCount = currentIngredientForms.length // + 1
        const formCopyTarget = document.getElementById('ingredient-form-list')
        const copyEmptyFormElement = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormElement.setAttribute('class', 'ingredient-form')
        copyEmptyFormElement.setAttribute('id',`ingredientquantity_set-${currentFormCount}`)
        
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormElement.innerHTML = copyEmptyFormElement.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // copyEmptyFormElement.addEventListener('click', removeIngredient)

        // now add a new empty form element to our html form
        formCopyTarget.append(copyEmptyFormElement)
        removeBtnListener()
        console.log(event)
    }
    
</script>

{% endblock %}