{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Chowtime! Lite</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'inventory/landing_page_style.css' %}" >
    </head>
    
    <body>
        <div class="card">
            <div class="card-text">
                <div class="welcome-text"><h1>Welcome to Chowtime! Lite</h1></div>
                <div class="signup-login-text"><h3>Sign up or log in to get started!</h3></div>
            </div>
            <div class="buttons">
                <button class="button" id="sign-up-button" type="submit" onclick="location.href='{% url 'register' %}'">Sign up</button>
                <button class="button" id="log-in-button" type="submit" onclick="location.href='{% url 'login' %}'">Log in</button>
            </div>
        </div>
    </body>    
</html>