<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Chowtime! Lite</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->
    </head>
    <body>
        <h1>Welcome to Chowtime! Lite</h1>
        <br>
        <h3>Sign up or log in to get started!</h3>
    
        <div>
            <table>
                <th>
                    <td><button style="background-color: grey;" type="button">Sign up</button></td>
                    <td><button style="background-color: green;" type="button">Log in</button></td>
                </th>
            </table>
        </div>

    </body>    
</html>