{% extends 'inventory/header.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="main-container">
    <div class="left-side">
        <div class="main-title">{{menu.name}}   <a href="{% url 'menuupdate' menu.id %}"><img class="edit-icon" src="{% static 'inventory/edit-icon.png' %}"></a></div>
        <div class="main-title-subtext">
            <p>Manage your menu here. Add items, then edit them to assign them the required ingredients.</p>
        </div>
        <div class="menu-view-btns">
            <!-- <button class="menu-view-go-back-btn" type="button" onclick="location.href='{{request.META.HTTP_REFERER}}'">Go Back</button> -->
            <button class="menu-view-go-back-btn" type="button" onclick="location.href='{% url 'menulist' %}'">Go Back</button>
            <button class="delete-btn" type="button" onclick="location.href='{% url 'menudelete' menu.id %}'">Delete Menu</button>
        </div>
    </div>
    <div class="right-side">
        <div class="menu-item-grid">
            <div class="menu-item-table-header-cell col-1 first-col">Item</div>
            <div class="menu-item-table-header-cell col-2">Price</div>
            <div class="menu-item-table-header-cell col-3 last-col">Edit</div>
            {% if count == 0 %}
                <div class="menu-item-placeholder-text">You don't have any menu items yet! Add your first item below.</div>
            {% else %}
                {% for item in items %}
                    <div class="menu-item-table-row-cell col-1 first-col">{{item.name}}</div>
                    <div class="menu-item-table-row-cell col-2">${{item.price|intcomma}}</div>
                    <div class="menu-item-table-row-cell col-3 last-col"><a href="{% url 'itemupdate' item.id %}"><img class="edit-icon" src="{% static 'inventory/edit-icon.png' %}"></a></div>
                    <div class="row-border-menu-item"></div>
                {% endfor %}
            {% endif %}
            <button class="btn-add-menu-item" onclick="location.href='{% url 'itemcreate' menu.id %}'">Add an item</button>
        </div>
    </div>
</div>

{% endblock %}