{% extends 'inventory/header.html' %}

{% block content %}

<style>
    .hidden {
        display: none
    }
    #dish-heading {
        width: 325px;
        text-align: left
    }
</style>

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <br>

        <table id="dish-heading">
            <thead>
                <tr>
                    <th>Dish</th>
                    <th>Quantity</th>
                </tr>
            </thead>
        </table>

        {{ formset.management_form }}
        
        <div id="dish-form-list">
            {% for dishform in formset %}
                <div id="dish-form "class="dish-form">
                    {% for hidden in dishform.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {{ dishform.menuItem }}
                    {{ dishform.dishQuantity }}
                    <div class="hidden">{{ dishform.DELETE }}</div>
                    <button class="remove-button" id="remove-dish" type="button">Remove</button>
                </div>
            {% endfor %}
        </div>

        <div id="empty-form" class="hidden">
            {{ formset.empty_form.menuItem }}
            {{ formset.empty_form.dishQuantity }}
            <div class="hidden">{{ formset.empty_form.DELETE }}</div>
            <button class="remove-button" id="remove-dish" type="button">Remove</button>
        </div>

        <br>
        
        <button id="add-more" type="button">Add a dish</button>
        <br>

        <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
        <input type="submit" value="Create order"/>
    </form>
</div>

<script>
    // get the button in question that we want to listen for - reference it by the button tag's 'id'
    
    const addMoreBtn = document.getElementById('add-more') // "document" refers to entire rendered HTML page
    addMoreBtn.addEventListener('click', addNewForm)
    const totalNewForms = document.getElementById('id_dishquantity_set-TOTAL_FORMS')
    
    itemizeDishForms()
    removeBtnListener()

    function itemizeDishForms () {
        let dishForms = document.getElementsByClassName('dish-form')

        for (let i = 0; i < dishForms.length; i++) {
            dishForms[i].setAttribute('id', `dish-form-${i}`)
            console.log(dishForms[i])
        }
    }

    function removeBtnListener () {
        const removeDishBtns = document.getElementsByClassName('remove-button')
        
        for (let i = 0; i < removeDishBtns.length; i++) {
            removeDishBtns[i].addEventListener('click', removeDish)
        }
    }

    function removeDish (event) {
        if (event) {
            event.preventDefault()
        }
        
        let dishFormToBeRemoved = event.path[1]
        let indexString = dishFormToBeRemoved.id
        let array = indexString.split('-')
        let indexNum = array[2]
        let deleteCheckbox = document.getElementById(`id_dishquantity_set-${indexNum}-DELETE`)
        deleteCheckbox.checked = true
        dishFormToBeRemoved.setAttribute('class', 'hidden')

        console.log(event)
        console.log(event.path[1])
        console.log(`indexString: ${indexString}`)
        console.log(`array: ${array}`)
        console.log(`indexNum: ${indexNum}`)
        console.log(`deletCheckbox: ${deleteCheckbox}`)
        
    }

    function addNewForm (event) {
        if (event) {
            event.preventDefault() // if you accidentatily called the 'add-more' button type=submit, it would prevent it from submitting
        }
        const currentDishForms = document.getElementsByClassName('dish-form')
        let currentFormCount = currentDishForms.length // + 1
        const formCopyTarget = document.getElementById('dish-form-list')
        const copyEmptyFormElement = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormElement.setAttribute('class', 'dish-form')
        copyEmptyFormElement.setAttribute('id',`dish-form-${currentFormCount}`)

        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormElement.innerHTML = copyEmptyFormElement.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)

        // now add a new empty form element to our html form
        formCopyTarget.append(copyEmptyFormElement)

        // remap remove button listeners to the new list of forms
        removeBtnListener()
        console.log(event)
    }

</script>

{% endblock %}