{% extends 'inventory/header.html' %}

{% block content %}

<style>
    .hidden {
        display: none
    }
    #dish-heading {
        width: 245px;
        text-align: left
    }
    .error-message {
        color: red;
    }
</style>

<div>
    <h2>Order #{{ order.id }}</h2>
    <p style="font-style: italic">{{ order.timestamp }}</p>
</div>

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        
        <div id="order-level-error-message-div" style="display: none">
            <p>You do not have enough inventory to update this order</p>
            <ul id="order-level-error-message-list"></ul>
        </div>

        <table id="dish-heading">
            <thead>
                <tr>
                    <th>Dish</th>
                    <th>Quantity</th>
                </tr>
            </thead>
        </table>

        {{ formset.management_form }}

        <div id="dish-form-list">
            {% for dishform in formset %}
                <div id="dish-form" class="dish-form">
                    {% for hidden in dishform.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {{ dishform.menuItem }}
                    {{ dishform.dishQuantity }}
                    <div class="hidden">{{ dishform.DELETE }}</div>
                    <button class="remove-button" id="remove-dish" type="button">Remove</button>
                    <div id="error-message" class="error-message"></div>
                </div>
            {% endfor %}
        </div>

        <div id="empty-form" class="hidden">
            {{ formset.empty_form.menuItem }}
            {{ formset.empty_form.dishQuantity }}
            <div class="hidden">{{ formset.empty_form.DELETE }}</div>
            <button class="remove-button" id="remove-dish" type="button">Remove</button>
        </div>

        <br>
        
        <button id="add-more" type="button">Add a dish</button>
        
        <br>
        <br>

        <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
        <input type="submit" value="Update order"/>
        <button style="background-color: darkred; color: white" type="button"><a href="{% url 'orderdelete' order.id %}">Delete</a></button>
    </form>
</div>

<script>   
    const addMoreBtn = document.getElementById('add-more') // "document" refers to entire rendered HTML page
    addMoreBtn.addEventListener('click', addNewForm)
    const totalNewForms = document.getElementById('id_dishquantity_set-TOTAL_FORMS')
    
    let new_dishLIST = JSON.parse("{{ new_dishLIST|escapejs }}")
    console.log('new_dishLIST: ')
    console.log(new_dishLIST)
    
    let ingredient_error_list = JSON.parse("{{ error_messages_order_level|escapejs }}")
    console.log('ORDER LEVEL ERROR LIST:')
    console.log(ingredient_error_list)

    let dish_level_ingredient_requirements = JSON.parse("{{ error_messages_dish_level|escapejs }}")
    console.log('DISH LEVEL ERROR LIST:')
    console.log(dish_level_ingredient_requirements)

    itemizeDishForms()
    removeBtnListener()
    hideDeletedFormsOnRender()
    itemizeErrorMessages()
    displayOrderLevelErrorMessage()
    displayDishLevelErrorMessage()

    function hideDeletedFormsOnRender () {
        let dishforms = document.getElementsByClassName('dish-form')

        for (i = 0; i < dishforms.length; i++) {
            deleteCheckbox = document.getElementById(`id_dishquantity_set-${i}-DELETE`)
            if (deleteCheckbox.checked == true) {
                let dishFormToHide = document.getElementById(`dish-form-${i}`)
                dishFormToHide.style.display = 'none'
            }
        }
    }

    function displayOrderLevelErrorMessage() {       
        let error = "{{ error }}"
        let ingredient_error_list = JSON.parse("{{ error_messages_order_level|escapejs }}")
        let errorMessageDiv = document.getElementById('order-level-error-message-div')
        let errorMessageUL = document.getElementById('order-level-error-message-list')
        
        for (let [ingredient, data] of Object.entries(ingredient_error_list)) {
            let quantity = Object.keys(data)[0]
            let unit = data[quantity]
            errorMessageUL.innerHTML = errorMessageUL.innerHTML + `<li>${ingredient}: ${quantity} ${unit.toLowerCase()} remaining</li>`
        }
     
        if (error == 'True') {
            errorMessageDiv.style.display = 'block'
            errorMessageDiv.style.color = 'red'
        }
    }

    function displayDishLevelErrorMessage () {     
        let new_dishLIST = JSON.parse("{{ new_dishLIST|escapejs }}")
        let dish_level_ingredient_requirements = JSON.parse("{{ error_messages_dish_level|escapejs }}")

        for (let i = 0; i < new_dishLIST.length; i++) {
            if (dish_level_ingredient_requirements[i] != {}) {
                
                let errorMessage = []
                for (let [ingredient, data] of Object.entries(dish_level_ingredient_requirements[i])) {
                    let quantity = Object.keys(data)[0]
                    let unit = data[quantity]
                    errorMessage.push(`${quantity} ${unit.toLowerCase()} ${ingredient.toLowerCase()} required`)
                }
    
                errorMessage = errorMessage.join('; ')
    
                let errorMessageDiv = document.getElementById(`error-message-${i}`)
                errorMessageDiv.innerHTML = errorMessageDiv.innerHTML + errorMessage
            }

            // if (dish_error_list.includes(dish)) {

            //     for (let [ingredient, data] of Object.entries(dish_level_ingredient_requirements[dish])) {
            //         let quantity = Object.keys(data)
            //         let unit = data[quantity]
            //         errorMessage += `${quantity} ${unit} ${ingredient} required`
            //     }
                
            //     let errorMessageDiv = document.getElementById(`error-message-${i}`)
            //     errorMessageDiv.innerHTML = errorMessageDiv.innerHTML + errorMessage
            // }
        }
    }

    function itemizeDishForms () {
        let dishForms = document.getElementsByClassName('dish-form')

        for (let i = 0; i < dishForms.length; i++) {
            dishForms[i].setAttribute('id', `dish-form-${i}`)
            console.log(dishForms[i])
        }
    }

    function itemizeErrorMessages () {
        let errorMessages = document.getElementsByClassName('error-message')

        for (let i = 0; i < errorMessages.length; i++) {
            errorMessages[i].setAttribute('id', `error-message-${i}`)
            console.log(errorMessages[i])
        }
    }

    function removeBtnListener () {
        const removeDishBtns = document.getElementsByClassName('remove-button')
        
        for (let i = 0; i < removeDishBtns.length; i++) {
            removeDishBtns[i].addEventListener('click', removeDish)
        }
    }

    function removeDish (event) {
        if (event) {
            event.preventDefault()
        }
        
        let dishFormToBeRemoved = event.path[1]
        let indexString = dishFormToBeRemoved.id
        let array = indexString.split('-')
        let indexNum = array[2]
        let deleteCheckbox = document.getElementById(`id_dishquantity_set-${indexNum}-DELETE`)
        deleteCheckbox.checked = true
        dishFormToBeRemoved.setAttribute('class', 'hidden')

        console.log(event)
        console.log(event.path[1])
        console.log(`indexString: ${indexString}`)
        console.log(`array: ${array}`)
        console.log(`indexNum: ${indexNum}`)
        console.log(`deletCheckbox: ${deleteCheckbox}`)
        
    }

    function addNewForm (event) {
        if (event) {
            event.preventDefault() // if you accidentatily called the 'add-more' button type=submit, it would prevent it from submitting
        }
        const currentDishForms = document.getElementsByClassName('dish-form')
        let currentFormCount = currentDishForms.length // + 1
        const formCopyTarget = document.getElementById('dish-form-list')
        const copyEmptyFormElement = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormElement.setAttribute('class', 'dish-form')
        copyEmptyFormElement.setAttribute('id',`dish-form-${currentFormCount}`)

        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormElement.innerHTML = copyEmptyFormElement.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        
        // now add a new empty form element to our html form
        formCopyTarget.append(copyEmptyFormElement)

        // remap remove button listeners to the new list of forms
        removeBtnListener()
        console.log(event)
    }

</script>

{% endblock %}