{% extends 'inventory/header.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}

<div class="main-container">
    <div class="left-side">
        <div class="main-title">New Order</div>
        <div class="main-title-subtext">
            <p>Create new order here.</p>
            <p>Sufficient ingredients are required to record an order successfully.</p>
        </div>
    </div>
    <div class="right-side">
        <form class="item-edit-form" method="POST" action="">
            {% csrf_token %}
            {{formset.management_form}}
            <div class="order-edit-form-fields">
                <div class="add-edit-form-label">Customer</div>
                {{form.customer}}
            </div>
            
            <div id="order-level-error-message-div" style="display: none">
                <p>You do not have enough inventory for this order</p>
                <ul id="order-level-error-message-list"></ul>
            </div>
            
            <div class="dish-list">
                <div id="dish-form-list">
                    {% for dishform in formset %}
                        <div id="dish-form" class="dish-form">
                            {% for hidden in dishform.hidden_fields %}
                                {{hidden}}
                            {% endfor %}
                            {{dishform.menuItem}}
                            {{dishform.dishQuantity}}
                            <div class="hidden">{{dishform.DELETE}}</div>
                            <div class="remove-button" type="button"><img src="{% static 'inventory/trash-icon.png' %}"></div>
                            <!-- <div class="remove-button">❌</div> -->
                            <div id="error-message" class="error-message"></div>
                        </div>
                    {% endfor %}
                </div>
                <button id="add-more" type="button">Add a dish</button>
            </div>
    
            <div id="empty-form" class="hidden">
                {{formset.empty_form.menuItem}}
                {{formset.empty_form.dishQuantity}}
                <div class="hidden">{{formset.empty_form.DELETE}}</div>
                <div class="remove-button" type="button"><img src="{% static 'inventory/trash-icon.png' %}"></div>
                <!-- <div class="remove-button">❌</div> -->
            </div>
    
            <div class="add-edit-form-btns">
                <button class="add-edit-go-back-btn" name="go-back" value="1" onclick="location.href='{{request.META.HTTP_REFERER}}'">Go Back</button>
                <button class="add-edit-submit-btn" name="submit" type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>

<script> 
    const addMoreBtn = document.getElementById('add-more') // "document" refers to entire rendered HTML page
    addMoreBtn.addEventListener('click', addNewForm)
    const totalNewForms = document.getElementById('id_dishquantity_set-TOTAL_FORMS')

    let dishLIST = JSON.parse("{{ dishLIST|escapejs }}")
    console.log('dishLIST: ')
    console.log(dishLIST)
    
    let ingredient_error_list = JSON.parse("{{ error_messages_order_level|escapejs }}")
    console.log('ORDER LEVEL ERROR LIST:')
    console.log(ingredient_error_list)

    let dish_level_ingredient_requirements = JSON.parse("{{ error_messages_dish_level|escapejs }}")
    console.log('DISH LEVEL ERROR LIST:')
    console.log(dish_level_ingredient_requirements)

    itemizeDishForms()
    removeBtnListener()
    hideDeletedFormsOnRender()
    itemizeErrorMessages()
    displayOrderLevelErrorMessage()
    displayDishLevelErrorMessage()
    
    function hideDeletedFormsOnRender () {
        let dishforms = document.getElementsByClassName('dish-form')

        for (i = 0; i < dishforms.length; i++) {
            deleteCheckbox = document.getElementById(`id_dishquantity_set-${i}-DELETE`)
            if (deleteCheckbox.checked == true) {
                let dishFormToHide = document.getElementById(`dish-form-${i}`)
                dishFormToHide.style.display = 'none'
            }
        }
    }

    function displayOrderLevelErrorMessage() {       
        let error = "{{ error }}"
        let ingredient_error_list = JSON.parse("{{ error_messages_order_level|escapejs }}")
        let errorMessageDiv = document.getElementById('order-level-error-message-div')
        let errorMessageUL = document.getElementById('order-level-error-message-list')
        
        for (let [ingredient, data] of Object.entries(ingredient_error_list)) {
            let quantity = Object.keys(data)[0]
            let unit = data[quantity]
            errorMessageUL.innerHTML = errorMessageUL.innerHTML + `<li>${ingredient}: ${quantity} ${unit.toLowerCase()} remaining</li>`
        }
     
        if (error == 'True') {
            errorMessageDiv.style.display = 'block'
            errorMessageDiv.style.color = 'red'
        }
    }

    function displayDishLevelErrorMessage () {     
        let dishLIST = JSON.parse("{{ dishLIST|escapejs }}")
        let dish_level_ingredient_requirements = JSON.parse("{{ error_messages_dish_level|escapejs }}")
        
        for (let i = 0; i < dishLIST.length; i++) {
            if (dish_level_ingredient_requirements[i] != {}) {
                
                let errorMessage = []
                for (let [ingredient, data] of Object.entries(dish_level_ingredient_requirements[i])) {
                    let quantity = Object.keys(data)[0]
                    let unit = data[quantity]
                    errorMessage.push(`${quantity} ${unit.toLowerCase()} ${ingredient.toLowerCase()} required`)
                }
                
                errorMessage = errorMessage.join('<br>')
                
                let errorMessageDiv = document.getElementById(`error-message-${i}`)
                errorMessageDiv.innerHTML = errorMessageDiv.innerHTML + errorMessage
                errorMessageDiv.style.paddingTop = '4px'
                errorMessageDiv.style.paddingLeft = '4px'
            }
        }
    }

    function itemizeDishForms () {
        let dishForms = document.getElementsByClassName('dish-form')
        
        for (let i = 0; i < dishForms.length; i++) {
            dishForms[i].setAttribute('id', `dish-form-${i}`)
            console.log(dishForms[i])
        }
    }

    function itemizeErrorMessages () {
        let errorMessages = document.getElementsByClassName('error-message')

        for (let i = 0; i < errorMessages.length; i++) {
            errorMessages[i].setAttribute('id', `error-message-${i}`)
            console.log(errorMessages[i])
        }
    }

    function removeBtnListener () {
        const removeDishBtns = document.getElementsByClassName('remove-button')
        
        for (let i = 0; i < removeDishBtns.length; i++) {
            removeDishBtns[i].addEventListener('click', removeDish)
        }
    }

    function removeDish (event) {
        if (event) {
            event.preventDefault()
        }
        
        pathPositionZero = event.path[1]

        if (pathPositionZero.id == '') {
            targetIndexNum = 2
        } else {
            targetIndexNum = 1
        }
        
        let dishFormToBeRemoved = event.path[targetIndexNum]
        let indexString = dishFormToBeRemoved.id
        let array = indexString.split('-')
        let indexNum = array[2]
        let deleteCheckbox = document.getElementById(`id_dishquantity_set-${indexNum}-DELETE`)
        deleteCheckbox.checked = true
        // dishFormToBeRemoved.setAttribute('class', 'hidden')
        dishFormToBeRemoved.style.display = 'none'

        console.log(event)
        console.log(event.path[1])
        console.log(`indexString: ${indexString}`)
        console.log(`array: ${array}`)
        console.log(`indexNum: ${indexNum}`)
        console.log(`deletCheckbox: ${deleteCheckbox}`)
        
    }

    function addNewForm (event) {
        if (event) {
            event.preventDefault() // if you accidentatily called the 'add-more' button type=submit, it would prevent it from submitting
        }
        const currentDishForms = document.getElementsByClassName('dish-form')
        let currentFormCount = currentDishForms.length // + 1
        const formCopyTarget = document.getElementById('dish-form-list')
        const copyEmptyFormElement = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormElement.setAttribute('class', 'dish-form')
        copyEmptyFormElement.setAttribute('id',`dish-form-${currentFormCount}`)
        

        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormElement.innerHTML = copyEmptyFormElement.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)

        // now add a new empty form element to our html form
        formCopyTarget.append(copyEmptyFormElement)

        // remap remove button listeners to the new list of forms
        removeBtnListener()
        console.log(event)
    }

</script>

{% endblock %}