{% extends 'inventory/header.html' %}

{% block content %}

<h2>Order History</h2>

<div>
    {% if orders != '' %}
        <table>
            <thead>
                <th style="text-align: left" width="100px">Order ID</th>
                <th style="text-align: left">Order time</th>
                <th style="text-align: right" width="130px">Customer</th>
                <th style="text-align: right" width="130px">Items</th>
                <th style="text-align: right" width="130px">Total</th>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td align="left" valign="top">#{{ order.id }}</td>
                    <td align="left" valign="top">{{ order.timestamp }}</td>
                    <td align="right" valign="top">{{ order.customer }}</td>
                    <td style="text-align: right">
                        {% for dish in order.getDishQuantities %}
                            {{ dish.menuItem }} ({{ dish.dishQuantity }}x)
                            <br>
                        {% endfor %}
                        <br>
                    </td>
                    <td style="text-align: right">{{ order.revenue }}</td>
                    <td></td>
                    <td align="right" valign="top" width="50px"><a href="{% url 'orderupdate' order.id %}">Edit</a></td>
                </tr>
            {% endfor %}
                <tr style="background: lightgrey">
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ totalrevenue }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    <br>
    <button style="background-color: darkgrey;" type="button"><a href="{% url 'ordercreate' %}">Create an order</a></button>
</div>
<br>
<div>
    <button style="background-color: darkgrey;" type="button"><a href="{% url 'pnlview' %}">View PNL</a></button>
</div>

{% endblock %}