{% extends 'inventory/header.html' %}
{% load humanize %}
{% block content %}

<div class="main-container">
    <div class="left-side">
        <div class="main-title">Daily Performance</div>
        <div class="main-title-subtext">
            <p>Data reflects life to date daily order financial performance.</p>
        </div>
    </div>
    <div class="right-side">
        <div class="performance-table-grid">
            {% if count == 0 %}
                <div class="performance-placeholder-text">You haven't recorded any orders yet.</div>
            {% else %}
                <div class="performance-table-header-cell col-1 first-col">Date</div>
                <div class="performance-table-header-cell col-2">Revenue</div>
                <div class="performance-table-header-cell col-3">COGS</div>
                <div class="performance-table-header-cell col-4">Gross Profit ($)</div>
                <div class="performance-table-header-cell col-5 last-col">Gross Profit (%)</div>
                    {% for k, v in orderdict.items %}
                        <div class="performance-table-row-cell col-1 first-col">{{k}}</div>
                        <div class="performance-table-row-cell col-2">${{v.revenue|intcomma}}</div>
                        <div class="performance-table-row-cell col-3">${{v.COGS|intcomma}}</div>
                        <div class="performance-table-row-cell col-4">${{v.GPdollar|intcomma}}</div>
                        <div class="performance-table-row-cell col-5 last-col">{{v.GPpct}}</div>
                        <div class="row-border-performance"></div>
                    {% endfor %}
                <div class="performance-table-footer-cell col-1">Total</div>
                <div class="performance-table-footer-cell col-2">${{totalRevenue|intcomma}}</div>
                <div class="performance-table-footer-cell col-3">${{totalCOGS|intcomma}}</div>
                <div class="performance-table-footer-cell col-4">${{totalGPdollar|intcomma}}</div>
                <div class="performance-table-footer-cell col-5 last-col">{{totalGPpct}}</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}