{% extends 'inventory/header.html' %}

{% block content %}

<h2>Daily PNL Overview</h2>

<div>
    <table>
        <thead>
            <th style="text-align: left" width="125px">Date</th>
            <th style="text-align: right" width="75px">Revenue</th>
            <th style="text-align: right" width="75px">COGS</th>
            <th style="text-align: right" width="125px">Gross Profit ($)</th>
            <th style="text-align: right" width="125px">Gross Profit (%)</th>
        </thead>
        <tbody>
            {% for k, v in orderdict.items %}
                <tr>
                    <td style="text-align: left">{{ k }}</td>
                    <td style="text-align: right">{{ v.revenue }}</td>
                    <td style="text-align: right">{{ v.COGS }}</td>
                    <td style="text-align: right">{{ v.GPdollar }}</td>
                    <td style="text-align: right">{{ v.GPpct }}</td>
                </tr>
            {% endfor %}
                <tr style="font-weight: bold">
                    <td style="text-align: left">Total</td>
                    <td style="text-align: right">{{ totalRevenue }}</td>
                    <td style="text-align: right">{{ totalCOGS }}</td>
                    <td style="text-align: right">{{ totalGPdollar }}</td>
                    <td style="text-align: right">{{ totalGPpct }}</td>
                </tr>
        </tbody>
    </table>
    <br>
</div>

{% endblock %}