{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Sign up! | Chowtime! Lite</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'inventory/auth_style.css' %}" >
    </head>
    
    <body>
        <div class="card">
            <div class="card-content">
                <div class="header-text"><h1>Set up your account</h1></div>
                <form class="sign-up-form" method="POST">
                    {% csrf_token %}
                    <div class="form-field">
                        <div class="form-field-label">{{form.username.label}}</div>
                        <div>{{form.username}}</div>
                        <div class="error-message">
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-field-label">{{form.email.label}}</div>
                        <div>{{form.email}}</div>
                        <div class="error-message">
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-field">
                        <div class="form-field-label">Password</div>
                        <div>{{form.password1}}</div>
                        <div class="error-message">
                            {% if form.password1.errors %}
                                {% for error in form.password1.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div>{{form.password2}}</div>
                        <div class="error-message">
                            {% if form.password2.errors %}
                                {% for error in form.password2.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <input class="button" type="submit" value="Register"/>                        
                </form>
                <div class="bottom-text">
                    Already have an account? <a href="{% url 'login' %}">Login.</a>
                </div>
            </div>
        </div>
    </body>
</html>